extends ../../layouts/final/layout

block header
	include ../../layouts/includes/header

block footer
	include ../../layouts/includes/footer

block content
	.backg
		img(id="foto" src='images/bg1.jpg')
	#section1
	.contenido.Wallop--slide
		.Wallop-list
			.intro.clearfix.Wallop-item.Wallop-item--current
				.col50
					h1 bon in
						br
						| a box
					img(src='images/main1.png')
					.divisor
					h2 !{__('mainbox.sub')}
				.colordiv.cd1
				.col_texto
					| !{__('mainbox.text')}
			.intro.clearfix.Wallop-item
				.col50
					h1 !{__('publicbox.h1')}
					img(src='images/main2.png')
					.divisor
					h2.color2 !{__('publicbox.sub')}
				.colordiv.cd2
				.col_texto
					| !{__('publicbox.text')}
			.intro.clearfix.Wallop-item
				.col50
					h1 !{__('whybox.h1')}
					img(src='images/main3.png')
					.divisor
					h2.color3 !{__('whybox.sub')}
				.colordiv.cd3
				.col_texto
					| !{__('whybox.text')}
			.intro.clearfix.Wallop-item
				.col50
					h1 !{__('howbox.h1')}
					img(src='images/main4.png')
					.divisor
					h2.color4 !{__('howbox.sub')}
				.colordiv.cd4
				.col_texto
					| !{__('howbox.text')}
			.intro.clearfix.Wallop-item
				.col50
					h1 !{__('allies.h1')}
					.divisor
					.allieslogos
						a(href="http://humboldt.org.co/" target="_blank")
							img(src='images/humboldt.png')
						a(href="https://www.nasa.gov/" target="_blank")
							img(src='images/nasa.png')
						a(href="http://www.gbif.org/" target="_blank")
							img(src='images/gbif.png')
						a(href="https://www.idiv.de/" target="_blank")
							img(src='images/idiv.png')
						a(href="http://www.eubon.eu/" target="_blank")
							img(src='images/eubon.png')
						a(href="http://www.unep-wcmc.org/" target="_blank")
							img(src='images/wcmc.png')
						a(href="http://mol.org/" target="_blank")
							img(src='images/mol.png')
						a(href="http://earthwatch.org/" target="_blank")
							img(src='images/ew.png')
				.colordiv.cd5
				.col_texto
					| !{__('allies.text')}
		.clearfix
			ul.menu_about.right.Wallop-pagination
				li
					button(class="Wallop-dot Wallop-dot--current") !{__('homenav.box')}
				li
					button(class="Wallop-dot" ) !{__('homenav.public')}
				li
					button(class="Wallop-dot") !{__('homenav.why')}
				li
					button(class="Wallop-dot") !{__('homenav.how')}
				li
					button(class="Wallop-dot") !{__('homenav.allies')}
	#section2
	.contenido.componentes.Wallop--slide
		.Wallop-list
			.Wallop-item.Wallop-item--current
				h1 !{__('components.title')}
				.divisor
				.col_iconos
					ul.toggler
						li.grande
							button(class="icon-ico-01" id="a01" data-toggle="tooltip" title="#{__('observation.title')}" href="")
						li
							button(class="icon-ico-02" id="a02" data-toggle="tooltip" title="#{__('collection.title')}" href="")
						li
							button(class="icon-ico-03" id="a03" data-toggle="tooltip" title="#{__('management.title')}" href="")
						li
							button(class="icon-ico-04" id="a04" data-toggle="tooltip" title="#{__('analysis.title')}" href="")
						li
							button(class="icon-ico-05" id="a05" data-toggle="tooltip" title="#{__('reporting.title')}" href="")
				.toggled-a01
					.col_titles
						h2 !{__('observation.title')}
						h3 !{__('observation.sub')}
					.colordiv
					.col_texto
						| !{__('observation.text')}
				.toggled-a02.switch
					.col_titles
						h2 !{__('collection.title')}
						h3 !{__('collection.sub')}
					.colordiv
					.col_texto
						| !{__('collection.text')}
				.toggled-a03.switch
					.col_titles
						h2 !{__('management.title')}
						h3 !{__('management.sub')}
					.colordiv
					.col_texto
						| !{__('management.text')}
				.toggled-a04.switch
					.col_titles
						h2 !{__('analysis.title')}
						h3 !{__('analysis.sub')}
					.colordiv
					.col_texto
						| !{__('analysis.text')}
				.toggled-a05.switch
					.col_titles
						h2 !{__('reporting.title')}
						h3 !{__('reporting.sub')}
					.colordiv
					.col_texto
						| !{__('reporting.text')}
			.Wallop-item
				h1 !{__('ebv.title')}
				.divisor
				.col_iconos
					ul.toggler2
						li.grande
							button(class="icon-ico-06" id="b01" data-toggle="tooltip" title="#{__('communities.title')}" href="")
						li
							button(class="icon-ico-07" id="b02" data-toggle="tooltip" title="#{__('ecofunction.title')}" href="")
						li
							button(class="icon-ico-08" id="b03" data-toggle="tooltip" title="#{__('ecostructure.title')}" href="")
						li
							button(class="icon-ico-09" id="b04" data-toggle="tooltip" title="#{__('genetic.title')}" href="")
						li
							button(class="icon-ico-10" id="b05" data-toggle="tooltip" title="#{__('population.title')}" href="")
						li
							button(class="icon-ico-11" id="b06" data-toggle="tooltip" title="#{__('traits.title')}" href="")
				.toggled-b01
					.col_titles
						h2 !{__('communities.title')}
						h3 !{__('communities.sub')}
					.colordiv.cd2
					.col_texto
						| !{__('communities.text')}
				.toggled-b02.switch
					.col_titles
						h2 !{__('ecofunction.title')}
						h3 !{__('ecofunction.sub')}
					.colordiv.cd2
					.col_texto
						| !{__('ecofunction.text')}
				.toggled-b03.switch
					.col_titles
						h2 !{__('ecostructure.title')}
						h3 !{__('ecostructure.sub')}
					.colordiv.cd2
					.col_texto
						| !{__('ecostructure.text')}
				.toggled-b04.switch
					.col_titles
						h2 !{__('genetic.title')}
						h3 !{__('genetic.sub')}
					.colordiv.cd2
					.col_texto
						| !{__('genetic.text')}
				.toggled-b05.switch
					.col_titles
						h2 !{__('population.title')}
						h3 !{__('population.sub')}
					.colordiv.cd2
					.col_texto
						| !{__('population.text')}
				.toggled-b06.switch
					.col_titles
						h2 !{__('traits.title')}
						h3 !{__('traits.sub')}
					.colordiv.cd2
					.col_texto
						| !{__('traits.text')}
			.Wallop-item
				h1 !{__('theme.title')}
				.divisor
				.col_iconos
					ul.toggler3
						li.grande
							button(class="icon-ico-12" id="c01" data-toggle="tooltip" title="#{__('ecosystem.title')}" href="")
						li
							button(class="icon-ico-13" id="c02" data-toggle="tooltip" title="#{__('citizen.title')}" href="")
						li
							button(class="icon-ico-14" id="c03" data-toggle="tooltip" title="#{__('traditional.title')}" href="")
						li
							button(class="icon-ico-15" id="c04" data-toggle="tooltip" title="#{__('invasive.title')}" href="")
						li
							button(class="icon-ico-16" id="c05" data-toggle="tooltip" title="#{__('cites.title')}" href="")
						li
							button(class="icon-ico-17" id="c06" data-toggle="tooltip" title="#{__('migratory.title')}" href="")
						li
							button(class="icon-ico-18" id="c07" data-toggle="tooltip" title="#{__('freshw.title')}" href="")
						li
							button(class="icon-ico-19" id="c08" data-toggle="tooltip" title="#{__('marine.title')}" href="")
						li
							button(class="icon-ico-20" id="c09" data-toggle="tooltip" title="#{__('terrestrial.title')}" href="")
				.toggled-c01
					.col_titles
						h2 !{__('ecosystem.title')}
						h3 !{__('ecosystem.sub')}
					.colordiv.cd3
					.col_texto
						| !{__('ecosystem.text')}
				.toggled-c02.switch
					.col_titles
						h2 !{__('citizen.title')}
						h3 !{__('citizen.sub')}
					.colordiv.cd3
					.col_texto
						| !{__('citizen.text')}
				.toggled-c03.switch
					.col_titles
						h2 !{__('traditional.title')}
						h3 !{__('traditional.sub')}
					.colordiv.cd3
					.col_texto
						| !{__('traditional.text')}
				.toggled-c04.switch
					.col_titles
						h2 !{__('invasive.title')}
						h3 !{__('invasive.sub')}
					.colordiv.cd3
					.col_texto
						| !{__('invasive.text')}
				.toggled-c05.switch
					.col_titles
						h2 !{__('cites.title')}
						h3 !{__('cites.sub')}
					.colordiv.cd3
					.col_texto
						| !{__('cites.text')}
				.toggled-c06.switch
					.col_titles
						h2 !{__('migratory.title')}
						h3 !{__('migratory.sub')}
					.colordiv.cd3
					.col_texto
						| !{__('migratory.text')}
				.toggled-c07.switch
					.col_titles
						h2 !{__('freshw.title')}
						h3 !{__('freshw.sub')}
					.colordiv.cd3
					.col_texto
						| !{__('freshw.text')}
				.toggled-c08.switch
					.col_titles
						h2 !{__('marine.title')}
						h3 !{__('marine.sub')}
					.colordiv.cd3
					.col_texto
						| !{__('marine.text')}
				.toggled-c09.switch
					.col_titles
						h2 !{__('terrestrial.title')}
						h3 !{__('terrestrial.sub')}
					.colordiv.cd3
					.col_texto
						| !{__('terrestrial.text')}
			.Wallop-item
				h1 !{__('type.title')}
				.divisor
				.col_iconos
					ul.toggler4
						li.grande
							button(class="icon-ico-21" id="d01" data-toggle="tooltip" title="#{__('dataset.title')}" href="")
						li
							button(class="icon-ico-22" id="d02" data-toggle="tooltip" title="#{__('software.title')}" href="")
						li
							button(class="icon-ico-23" id="d03" data-toggle="tooltip" title="#{__('standard.title')}" href="")
						li
							button(class="icon-ico-24" id="d04" data-toggle="tooltip" title="#{__('literature.title')}" href="")

				.toggled-d01
					.col_titles
						h2 !{__('dataset.title')}
						h3 !{__('dataset.sub')}
					.colordiv.cd4
					.col_texto
						| !{__('dataset.text')}
				.toggled-d02.switch
					.col_titles
						h2 !{__('software.title')}
						h3 !{__('software.sub')}
					.colordiv.cd4
					.col_texto
						| !{__('software.text')}
				.toggled-d03.switch
					.col_titles
						h2 !{__('standard.title')}
						h3 !{__('standard.sub')}
					.colordiv.cd4
					.col_texto
						| !{__('standard.text')}
				.toggled-d04.switch
					.col_titles
						h2 !{__('literature.title')}
						h3 !{__('literature.sub')}
					.colordiv.cd4
					.col_texto
						| !{__('literature.text')}
			.Wallop-item
				h1 !{__('taxonomy.title')}
				.divisor
				.col_iconos
					ul
						li
							.difcase.icon-ico-25(data-toggle="tooltip" title="#{__('amphibians.title')}")
						li
							.difcase.icon-ico-26(data-toggle="tooltip" title="#{__('birds.title')}")
						li
							.difcase.icon-ico-27(data-toggle="tooltip" title="#{__('invertebrates.title')}")
						li
							.difcase.icon-ico-28(data-toggle="tooltip" title="#{__('mammals.title')}")
						li
							.difcase.icon-ico-29(data-toggle="tooltip" title="#{__('fish.title')}")
						li
							.difcase.icon-ico-30(data-toggle="tooltip" title="#{__('reptiles.title')}")
						li
							.difcase.icon-ico-31(data-toggle="tooltip" title="#{__('plants.title')}")
				.toggled-e01
					.col_titles
						h2 !{__('taxo.title')}
						h3 !{__('taxo.sub')}
					.colordiv.cd5
					.col_texto
						| !{__('taxo.text')}
		.col25
			ul.hexicon.Wallop-pagination
				li
					button(class="smic bgic imageb1 Wallop-dot Wallop-dot--current" data-toggle="tooltip" title="#{__('filter.components')}")
				li
					button(class="smic imageb2 Wallop-dot" data-toggle="tooltip" title="#{__('filter.ebv')}")
				li
					button(class="smic imageb3 Wallop-dot" data-toggle="tooltip" title="#{__('filter.theme')}")
				li
					button(class="smic imageb4 Wallop-dot" data-toggle="tooltip" title="#{__('filter.type')}")
				li
					button(class="smic imageb5 Wallop-dot" data-toggle="tooltip" title="#{__('filter.tax')}")
	#section3
	.contenidog.filter_ui
		.buscador.hidden
			form
				input(data-ng-model="bonCtrl.searchTextCondition" type="search" name="question" placeholder="#{__('placeholder.search')}")
				button(data-ng-click="bonCtrl.startSearch()") !{__('search.btn')}
		.col_herramientas
			h4 !{__('tooldir.title')}
				button(class="ojo" data-toggle="tooltip" title="#{__('show.tools')}" href="" id="ojo_her")
					img(src='images/ojo_bl.png')
			if username
				button(class="proponer" data-toggle="tooltip" title="#{__('new.tools')}" href="") !{__('propose.btn')}
			.divisor
			nav.categorias
				ul
					li
						button(class="mic" data-toggle="tooltip" title="#{__('filter.all')}" href="")
							img(src='images/tools.png')
					li
						button(class="mic selected" data-toggle="tooltip" title="#{__('filter.components')}" href="")
							img(src='images/filt1m.png')
					li
						button(class="mic" data-toggle="tooltip" title="#{__('filter.ebv')}" href="")
							img(src='images/filt2m.png')
					li
						button(class="mic" data-toggle="tooltip" title="#{__('filter.theme')}" href="")
							img(src='images/filt3m.png')
					li
						button(class="mic" data-toggle="tooltip" title="#{__('filter.type')}" href="")
							img(src='images/filt4m.png')
					li
						button(class="mic" data-toggle="tooltip" title="#{__('filter.tax')}" href="")
							img(src='images/filt5m.png')
					li.divisor_sombra
					li
						button(data-toggle-search-input class="mic" data-toggle="tooltip" title="#{__('search.btn')}")
							img(src='images/lupa.png')
					//-li.right
						button(class="mic" data-toggle="tooltip" title="#{__('PHtool.scountry')}" href="")
							img(src='images/country.png')
			.areaforstuff.hidden
			.filtros
				ul
					li
						button(class="fil_icon icon-ico-01" data-toggle="tooltip" title="#{__('observation.title')}" href="")
					li
						button(class="fil_icon icon-ico-02" data-toggle="tooltip" title="#{__('collection.title')}" href="")
					li
						button(class="fil_icon icon-ico-03" data-toggle="tooltip" title="#{__('management.title')}" href="")
					li
						button(class="fil_icon icon-ico-04" data-toggle="tooltip" title="#{__('analysis.title')}" href="")
					li
						button(class="fil_icon icon-ico-05" data-toggle="tooltip" title="#{__('reporting.title')}" href="")
			.filtros.cd2.hidden
				ul
					li
						button(class="fil_icon icon-ico-06" data-toggle="tooltip" title="#{__('communities.title')}" href="")
					li
						button(class="fil_icon icon-ico-07" data-toggle="tooltip" title="#{__('ecofunction.title')}" href="")
					li
						button(class="fil_icon icon-ico-08" data-toggle="tooltip" title="#{__('ecostructure.title')}" href="")
					li
						button(class="fil_icon icon-ico-09" data-toggle="tooltip" title="#{__('genetic.title')}" href="")
					li
						button(class="fil_icon icon-ico-10" data-toggle="tooltip" title="#{__('population.title')}" href="")
					li
						button(class="fil_icon icon-ico-11" data-toggle="tooltip" title="#{__('traits.title')}" href="")
			.filtros.cd3.hidden
				ul
					li
						button(class="fil_icon icon-ico-12" data-toggle="tooltip" title="#{__('ecosystem.title')}" href="")
					li
						button(class="fil_icon icon-ico-13" data-toggle="tooltip" title="#{__('citizen.title')}" href="")
					li
						button(class="fil_icon icon-ico-14" data-toggle="tooltip" title="#{__('traditional.title')}" href="")
					li
						button(class="fil_icon icon-ico-15" data-toggle="tooltip" title="#{__('invasive.title')}" href="")
					li
						button(class="fil_icon icon-ico-16" data-toggle="tooltip" title="#{__('cites.title')}" href="")
					li
						button(class="fil_icon icon-ico-17" data-toggle="tooltip" title="#{__('migratory.title')}" href="")
					li
						button(class="fil_icon icon-ico-18" data-toggle="tooltip" title="#{__('freshw.title')}" href="")
					li
						button(class="fil_icon icon-ico-19" data-toggle="tooltip" title="#{__('marine.title')}" href="")
					li
						button(class="fil_icon icon-ico-20" data-toggle="tooltip" title="#{__('terrestrial.title')}" href="")
			.filtros.cd4.hidden
				ul
					li
						button(class="fil_icon icon-ico-21" data-toggle="tooltip" title="#{__('dataset.title')}" href="")
					li
						button(class="fil_icon icon-ico-22" data-toggle="tooltip" title="#{__('software.title')}" href="")
					li
						button(class="fil_icon icon-ico-23" data-toggle="tooltip" title="#{__('standard.title')}" href="")
					li
						button(class="fil_icon icon-ico-24" data-toggle="tooltip" title="#{__('literature.title')}" href="")
			.filtros.cd5.hidden
				ul
					li
						button(class="fil_icon icon-ico-25" data-toggle="tooltip" title="#{__('amphibians.title')}" href="")
					li
						button(class="fil_icon icon-ico-26" data-toggle="tooltip" title="#{__('birds.title')}" href="")
					li
						button(class="fil_icon icon-ico-27" data-toggle="tooltip" title="#{__('invertebrates.title')}" href="")
					li
						button(class="fil_icon icon-ico-28" data-toggle="tooltip" title="#{__('mammals.title')}" href="")
					li
						button(class="fil_icon icon-ico-29" data-toggle="tooltip" title="#{__('fish.title')}" href="")
					li
						button(class="fil_icon icon-ico-30" data-toggle="tooltip" title="#{__('reptiles.title')}" href="")
					li
						button(class="fil_icon icon-ico-31" data-toggle="tooltip" title="#{__('plants.title')}" href="")
			.resultados_wrapper.scrollp
				//-masonry.resultados(style="width: 748px" item-selector=".card_herramienta" column-width="230" reload-on-resize reload-on-show masonry-options="{ transitionDuration: '0.4s' }")
					.card_herramienta(masonry-brick ng-repeat="tool in bonCtrl.searchTools")
						.crop4(data-ng-show="tool.thumbnailImage")
							img(ng-src="/uploads/{{tool.thumbnailImage}}")
						.titulos_card
							h3 {{tool.name.english}}
							h5 {{tool.directory.subtitle.english}}
						p {{tool.shortDescription.english}}
						ul
							li
								.icon-ico-06
							li
								.icon-ico-07
							li
								.icon-ico-08
							li
								.icon-ico-09
						button(class="ver_mas right" data-toggle="tooltip" title="More" href="") +
				list-tools(data-available-tools='bonCtrl.searchTools' callback-fn="bonCtrl.showToolDetail(id)")
		.col_directorio
			h4 !{__('directory.title')}
				button(class="ojo" data-toggle="tooltip" title="#{__('show.directory')}" href="" id="ojo_dir")
					img(src='images/ojo.png')
			.divisor
			nav.categorias
				ul
					li
						button(class="mic selected" data-toggle="tooltip" title="#{__('filter.all')}" href="")
							img(src='images/directory.png')
					li
						button(class="mic" data-toggle="tooltip" title="#{__('filter.institution')}" href="")
							img(src='images/inst.png')
					li
						button(class="mic" data-toggle="tooltip" title="#{__('filter.initiative')}" href="")
							img(src='images/inic.png')
					li
						button(class="mic" data-toggle="tooltip" title="#{__('filter.investigator')}" href="")
							img(src='images/inves.png')
					li.right
						button(class="mic" data-toggle="tooltip" title="#{__('PHtool.scountry')}" href="")
							img(src='images/country.png')
			.resultados.scrollp
				list-directories(data-available-tools='bonCtrl.searchTools')
	.contenido.toolabst.clearfix.hidden
		.smbox.clearfix
			button(class="back2" href="")
				img(src='images/xxx.png')
		.toolinfo
			h3 {{bonCtrl.currentTool[0].name.english}}
			.divisor
			ul
				li(data-ng-repeat="category in bonCtrl.currentTool[0].categories")
					.icon-ico-01(data-ng-show="category === \'Observation Design\'" title="Observation Design" data-toggle="tooltip")
					.icon-ico-02(data-ng-show="category === \'Data collection\'" title="Data collection" data-toggle="tooltip")
					.icon-ico-03(data-ng-show="category === \'Data Management\'" title="Data Management" data-toggle="tooltip")
					.icon-ico-04(data-ng-show="category === \'Data analysis\'" title="Data analysis" data-toggle="tooltip")
					.icon-ico-05(data-ng-show="category === \'Report results\'" title="Report results" data-toggle="tooltip")
					.icon-ico-06(data-ng-show="category === \'Communities composition\'" title="Communities composition" data-toggle="tooltip")
					.icon-ico-07(data-ng-show="category === \'Ecosystem function\'" title="Ecosystem function" data-toggle="tooltip")
					.icon-ico-08(data-ng-show="category === \'Ecosystem structure\'" title="Ecosystem structure" data-toggle="tooltip")
					.icon-ico-09(data-ng-show="category === \'Genetic composition\'" title="Genetic composition" data-toggle="tooltip")
					.icon-ico-10(data-ng-show="category === \'Species populations\'" title="Species populations" data-toggle="tooltip")
					.icon-ico-11(data-ng-show="category === \'Species traits\'" title="Species traits" data-toggle="tooltip")
					.icon-ico-12(data-ng-show="category === \'Ecosystem services\'" title="Ecosystem services" data-toggle="tooltip")
					.icon-ico-13(data-ng-show="category === \'Citizen science\'" title="Citizen science" data-toggle="tooltip")
					.icon-ico-14(data-ng-show="category === \'Traditional knowledge\'" title="Traditional knowledge" data-toggle="tooltip")
					.icon-ico-15(data-ng-show="category === \'Invasive species\'" title="Invasive species" data-toggle="tooltip")
					.icon-ico-16(data-ng-show="category === \'CITES\'" title="CITES" data-toggle="tooltip")
					.icon-ico-17(data-ng-show="category === \'Migratory\'" title="Migratory" data-toggle="tooltip")
					.icon-ico-18(data-ng-show="category === \'Fresh water\'" title="Fresh water" data-toggle="tooltip")
					.icon-ico-19(data-ng-show="category === \'Marine\'" title="Marine" data-toggle="tooltip")
					.icon-ico-20(data-ng-show="category === \'Terrestrial\'" title="Terrestrial" data-toggle="tooltip")
					.icon-ico-21(data-ng-show="category === \'Dataset\'" title="Dataset" data-toggle="tooltip")
					.icon-ico-22(data-ng-show="category === \'Software\'" title="Software" data-toggle="tooltip")
					.icon-ico-23(data-ng-show="category === \'Data standards\'" title="Data standards" data-toggle="tooltip")
					.icon-ico-24(data-ng-show="category === \'Literature\'" title="Literature" data-toggle="tooltip")
					.icon-ico-25(data-ng-show="category === \'Amphibians\'" title="Amphibians" data-toggle="tooltip")
					.icon-ico-26(data-ng-show="category === \'Birds\'" title="Birds" data-toggle="tooltip")
					.icon-ico-27(data-ng-show="category === \'Invertebrates\'" title="Invertebrates" data-toggle="tooltip")
					.icon-ico-28(data-ng-show="category === \'Mammals\'" title="Mammals" data-toggle="tooltip")
					.icon-ico-29(data-ng-show="category === \'Fish\'" title="Fish" data-toggle="tooltip")
					.icon-ico-30(data-ng-show="category === \'Reptiles\'" title="Reptiles" data-toggle="tooltip")
					.icon-ico-31(data-ng-show="category === \'Plants\'" title="Plants" data-toggle="tooltip")
			a(class="site" data-ng-href="{{bonCtrl.currentTool[0].urlWebsite}}") {{bonCtrl.currentTool[0].urlWebsite}}
			a(class="mail" data-ng-href="mailto:{{bonCtrl.currentTool[0].contactEmail}}") {{bonCtrl.currentTool[0].contactEmail}}
			.scrollarea.scrollp
				.crop2(data-ng-show="bonCtrl.currentTool[0].descriptiveImage")
					img(src="/uploads/{{bonCtrl.currentTool[0].descriptiveImage}}")
				.paragcontainer
					.paragraph {{bonCtrl.currentTool[0].longDescription.english}}
		.respinfo
			h3 {{bonCtrl.currentTool[0].directory.responsibleName.english}}
			img(src="/images/instsm.png" data-ng-show="bonCtrl.currentTool[0].directory.category === \'Institution\'")
			img(src="/images/inicsm.png" data-ng-show="bonCtrl.currentTool[0].directory.category === \'Initiative\'")
			img(src="/images/invessm.png" data-ng-show="bonCtrl.currentTool[0].directory.category === \'Investigator\'")
			.divisor
			a(class="site" data-ng-href="{{bonCtrl.currentTool[0].directory.urlWebsite}}") {{bonCtrl.currentTool[0].directory.urlWebsite}}
			a(class="mail" data-ng-href="mailto:{{bonCtrl.currentTool[0].directory.email}}") {{bonCtrl.currentTool[0].directory.email}}
			.logoent(data-ng-show="bonCtrl.currentTool[0].directory.thumbnailImage")
				img(src="/uploads/{{bonCtrl.currentTool[0].directory.thumbnailImage}}")
			p {{bonCtrl.currentTool[0].directory.shortDescription.english}}
		//-.usercomment
			.clearfix
				.crop3
					img(src='images/c2.jpg')
				.expert Cesar Gutierrez
				.expert DISEÑADOR GRÁFICO LBAB
				.expert Experto GeoBon
			.divisor
			p “Laboris nisi ut aliquip ex ea commodo consequat.
				b Lorem ipsum dolor sit amet, consectetur adipiscing elit,
				|sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”
			.calificacion 4.5
			a(class="ver_mas right" data-toggle="tooltip" title="#{__('edit.btn')}" href="") !{__('edit.btn')}

	//-.contenido.formulario.clearfix.hidden
		.smbox.clearfix
			button(class="back")
				img(src='images/xxx.png')
		form(id="" method="" action="" class="clearfix")
			.formtool.scrollp
				h3 !{__('formtool.title')}
				.columnaforma
					ol
						li
							input(type="text" name="toolname" placeholder="#{__('PHtool.name')}")
						li
							h4 !{__('formtool.categories')}
							.categorias.clearfix
								ul
									li
										a(class="" data-toggle="tooltip" title="#{__('filter.components')}" href="")
											img(src='images/filt1m.png')
									li
										a(class="selected" data-toggle="tooltip" title="#{__('filter.ebv')}" href="")
											img(src='images/filt2m.png')
									li
										a(class="" data-toggle="tooltip" title="#{__('filter.theme')}" href="")
											img(src='images/filt3m.png')
									li
										a(class="" data-toggle="tooltip" title="#{__('filter.type')}" href="")
											img(src='images/filt4m.png')
									li
										a(class="" data-toggle="tooltip" title="#{__('filter.tax')}" href="")
											img(src='images/filt5m.png')
								h3 filtro por temática
							.iconosformulario.hidden
								ul
									li
										button(class="icon-ico-01" data-toggle="tooltip" title="#{__('observation.title')}" href="")
									li
										button(class="icon-ico-02" data-toggle="tooltip" title="#{__('collection.title')}" href="")
									li
										button(class="icon-ico-03" data-toggle="tooltip" title="#{__('management.title')}" href="")
									li
										button(class="icon-ico-04" data-toggle="tooltip" title="#{__('analysis.title')}" href="")
									li
										button(class="icon-ico-05" data-toggle="tooltip" title="#{__('reporting.title')}" href="")
							.iconosformulario
								ul
									li
										button(class="icon-ico-06" data-toggle="tooltip" title="#{__('communities.title')}" href="")
									li
										button(class="icon-ico-07" data-toggle="tooltip" title="#{__('ecofunction.title')}" href="")
									li
										button(class="icon-ico-08" data-toggle="tooltip" title="#{__('ecostructure.title')}" href="")
									li
										button(class="icon-ico-09" data-toggle="tooltip" title="#{__('genetic.title')}" href="")
									li
										button(class="icon-ico-10" data-toggle="tooltip" title="#{__('population.title')}" href="")
									li
										button(class="icon-ico-11" data-toggle="tooltip" title="#{__('traits.title')}" href="")
							.iconosformulario.hidden
								ul
									li
										button(class="icon-ico-12" data-toggle="tooltip" title="#{__('ecosystem.title')}" href="")
									li
										button(class="icon-ico-13" data-toggle="tooltip" title="#{__('citizen.title')}" href="")
									li
										button(class="icon-ico-14" data-toggle="tooltip" title="#{__('traditional.title')}" href="")
									li
										button(class="icon-ico-15" data-toggle="tooltip" title="#{__('invasive.title')}" href="")
									li
										button(class="icon-ico-16" data-toggle="tooltip" title="#{__('cites.title')}" href="")
									li
										button(class="icon-ico-17" data-toggle="tooltip" title="#{__('migratory.title')}" href="")
									li
										button(class="icon-ico-18" data-toggle="tooltip" title="#{__('freshw.title')}" href="")
									li
										button(class="icon-ico-19" data-toggle="tooltip" title="#{__('marine.title')}" href="")
									li
										button(class="icon-ico-20" data-toggle="tooltip" title="#{__('terrestrial.title')}" href="")
							.iconosformulario.hidden
								ul
									li
										button(class="icon-ico-21" data-toggle="tooltip" title="#{__('dataset.title')}" href="")
									li
										button(class="icon-ico-22" data-toggle="tooltip" title="#{__('software.title')}" href="")
									li
										button(class="icon-ico-23" data-toggle="tooltip" title="#{__('standard.title')}" href="")
									li
										button(class="icon-ico-24" data-toggle="tooltip" title="#{__('literature.title')}" href="")
							.iconosformulario.hidden
								ul
									li
										button(class="icon-ico-25" data-toggle="tooltip" title="#{__('amphibians.title')}" href="")
									li
										button(class="icon-ico-26" data-toggle="tooltip" title="#{__('birds.title')}" href="")
									li
										button(class="icon-ico-27" data-toggle="tooltip" title="#{__('invertebrates.title')}" href="")
									li
										button(class="icon-ico-28" data-toggle="tooltip" title="#{__('mammals.title')}" href="")
									li
										button(class="icon-ico-29" data-toggle="tooltip" title="#{__('fish.title')}" href="")
									li
										button(class="icon-ico-30" data-toggle="tooltip" title="#{__('reptiles.title')}" href="")
									li
										button(class="icon-ico-31" data-toggle="tooltip" title="#{__('plants.title')}" href="")
						li
							textarea.input-forum(type="textarea" name="descrip1" placeholder="#{__('PHtool.shorttext')}")
						li
							textarea.input-forum.h105(type="textarea" name="descrip2" placeholder="#{__('PHtool.longtext')}")
						li
							h4 !{__('formtool.thumbtitle')}
							h5 !{__('formtool.thumbsubtitle')}
							button.btn.left(type="") !{__('formtool.load')}
							button.btn.left(type="") X
						.clearfix
						li
							h4.pt10 !{__('formtool.imgtitle')}
							button.btn.left(type="") !{__('formtool.load')}
							button.btn.left(type="") X
						.clearfix
						li
							input(type="text" name="toolname" placeholder="#{__('PHtool.web')}")
						li
							input(type="text" name="toolname" placeholder="#{__('PHtool.mail')}")
						li
							input(type="text" name="toolname" placeholder="#{__('PHtool.country')}")
			.formtool2
				.newresphide
					h3 !{__('maindir.title')}
					h4 !{__('dircaution.title')}
					h3.grayc !{__('dirselector.title')}
					input.country-select(country-select name="country" data-ng-model="formCtrl.country" placeholder="#{__('PHlist.responsibles')}")
					button(class="clearbtn") !{__('new.entry')}
				.newresp
					h3.grayc !{__('formtool.dirtitle')}
					.columnaforma
						ol
							li
								input(type="text" name="toolname" placeholder="#{__('PHresp.name')}")
							li
								input(type="text" name="toolname" placeholder="#{__('PHresp.sub')}")
							li
								h4 !{__('formtool.categories')}
								.categorias.clearfix
									ul
										li
											a(class="selected" data-toggle="tooltip" title="#{__('filter.institution')}" href="")
												img(src='images/inst.png')
										li
											a(class="" data-toggle="tooltip" title="#{__('filter.initiative')}" href="")
												img(src='images/inic.png')
										li
											a(class="" data-toggle="tooltip" title="#{__('filter.investigator')}" href="")
												img(src='images/inves.png')
							li
								textarea.input-forum.h180(type="textarea" name="descripr" placeholder="#{__('PHresp.shorttext')}")
							li
								h4 !{__('formtool.thumbtitle2')}
								h5 !{__('formtool.thumbsubtitle2')}
								button.btn.left(type="") !{__('formtool.load')}
								button.btn.left(type="") X
							.clearfix
							li
								input(type="text" name="toolname" placeholder="#{__('PHtool.web')}")
							li
								input(type="text" name="toolname" placeholder="#{__('PHtool.mail')}")
							li
								input(type="text" name="toolname" placeholder="#{__('PHtool.scountry')}")
		button(type="submit" class="bottom") !{__('formtool.send')}
	#section4
	.contenido.forum
		h4 !{__('forum.title')}
		.icon-ico-33.bigico
		.divisor
		.cajaf1
			h5 !{__('forum.popular')}
			.qcard
				.clearfix
					.crop
						img(src='images/c2.jpg')
					.name Cesar Gutierrez
					.date 09 - 09 - 15
				p I am looking for existing tools that allow one to download satellite derived landcover data.  Can someone suggest some existing tools or sources?
				a(class="ver_mas right" data-toggle="tooltip" title="#{__('go.btn')}" href="") +
		.cajaf2.scrollp
			.state1
				h5 !{__('forum.consult')}
				form(id="" method="" action="" class="clearfix")
					textarea.input-forum(type="textarea" name="question" placeholder="#{__('PHforum.ask')}")
					button(type="submit") !{__('ask.btn')}
				h5 !{__('forum.latest')}
				.qcard2
					.clearfix
						.crop
							img(src='images/c2.jpg')
						.name Cesar Gutierrez
						.date 09 - 09 - 15
					p In our national park system, we want to incorporate visitors into our monitoring program.  Can you point me to some good tools or handbooks on how best to do this?
					a(class="ver_mas right" data-toggle="tooltip" title="#{__('reply.btn')}" href="") !{__('reply.btn')}
			.state2.hidden
				.qcard3
					.clearfix
						.crop
							img(src='images/c2.jpg')
						.name Cesar Gutierrez
						.date 09 - 09 - 15
					p In our national park system, we want to incorporate visitors into our monitoring program.  Can you point me to some good tools or handbooks on how best to do this?
					a(class="ver_mas right" data-toggle="tooltip" title="#{__('reply.btn')}" href="") !{__('reply.btn')}
					a(class="ver_mas right" data-toggle="tooltip" title="#{__('edit.btn')}" href="") !{__('edit.btn')}
					a(class="ver_mas right" data-toggle="tooltip" title="#{__('delete.btn')}" href="") x
				form(id="" method="" action="" class="clearfix hidden")
					textarea.input-forum(type="textarea" name="answer" placeholder="#{__('PHforum.answer')}")
					button(type="submit") !{__('reply.btn')}
				.qcard2
					.qualifier
						.arrow-up
						h5 12
						.arrow-down
					.answer
						.clearfix
							.bestansw
								p !{__('best.answer')}
								img(src='images/chulo.png')
							.crop
								img(src='images/c2.jpg')
							.name Cesar Gutierrez
							.date 09 - 09 - 15
						p In our national park system, we want to incorporate visitors into our monitoring program.  Can you point me to some good tools or handbooks on how best to do this?
						a(class="ver_mas right" data-toggle="tooltip" title="#{__('comment.btn')}" href="") !{__('comment.btn')}
						a(class="ver_mas right" data-toggle="tooltip" title="#{__('edit.btn')}" href="") !{__('edit.btn')}
						a(class="ver_mas right" data-toggle="tooltip" title="#{__('delete.btn')}" href="") x
					form(id="" method="" action="" class="tacomment hidden")
						textarea.input-forum(type="textarea" name="comment" placeholder="#{__('PHforum.comment')}")
						button(type="submit") !{__('comment.btn')}
					.answcomment
						.clearfix
							.crop
								img(src='images/c2.jpg')
							.name Cesar Gutierrez
							.date 09 - 09 - 15
						p In our national park system, we want to incorporate visitors into our monitoring program.  Can you point me to some good tools or handbooks on how best to do this?
						a(class="ver_mas right" data-toggle="tooltip" title="#{__('comment.btn')}" href="") !{__('comment.btn')}
						a(class="ver_mas right" data-toggle="tooltip" title="#{__('edit.btn')}" href="") !{__('edit.btn')}
						a(class="ver_mas right" data-toggle="tooltip" title="#{__('delete.btn')}" href="") x
				.qcard2
					.qualifier
						.arrow-up
						h5 10
						.arrow-down
					.answer
						.clearfix
							.crop
								img(src='images/c2.jpg')
							.name Cesar Gutierrez
							.date 09 - 09 - 15
						p In our national park system, we want to incorporate visitors into our monitoring program.  Can you point me to some good tools or handbooks on how best to do this?
						a(class="ver_mas right" data-toggle="tooltip" title="#{__('comment.btn')}" href="") !{__('comment.btn')}
						a(class="ver_mas right" data-toggle="tooltip" title="#{__('edit.btn')}" href="") !{__('edit.btn')}
						a(class="ver_mas right" data-toggle="tooltip" title="#{__('delete.btn')}" href="") x

block scripts
	script(src="/javascripts/local/home.js")
