block header
	header
		.titlebar#titlebar
			.contenedor.clearfix
				h3
					a(class="left" title="GEO BON" href="http://geobon.org" target="_blank") GEO BON
				h3 #{__("header.title")}
		nav#mainnav
			.contenedor.clearfix
				ul.menu_principal
					li.left
						a(class="icon icon-ico-32" href="/login" data-toggle="tooltip" title="#{__('nav.login')}")
					li.left
						a(class="icon icon-ico-33" href="/#section4" data-toggle="tooltip" title="#{__('nav.forum')}")
					li.right
						ul.navlang
							each language in locales
								if language === currentLocale
									li.right.active
										a(title="#{language}" href="/language/#{language}") #{language}
								else
									li.right
										a(title="#{language}" href="/language/#{language}") #{language}
					li.right
						a(class="icon icon-ico-37" href="mailto:info@geobon.org" data-toggle="tooltip" title="#{__('nav.contact')}")
					li.right
						a(class="icon icon-ico-36" href="/#section3" data-toggle="tooltip" title="#{__('nav.tools')}")
					li.right
						a(class="icon icon-ico-35" href="/#section2" data-toggle="tooltip" title="#{__('nav.filters')}")
					li.right
						a(class="icon icon-ico-34" href="/#section1" data-toggle="tooltip" title="#{__('nav.main')}")
