extends ../../layouts/final/layout

block header
	include ../../layouts/includes/header_login

block footer
	include ../../layouts/includes/footer_login

block content
	.backg.blur-effect
		img(id="foto" src='images/bg1.jpg')
	.contenido.login
		.icon-ico-32
		h3 #{__("login.title")}
		.divisor
		.logop
			a(class="" href="")
				img(src='images/google.png')
			a(class="" href="")
				img(src='images/linkedin.png')
			a(class="" href="")
				img(src='images/facebook.png')
		h4 #{__("login.or")}
		form(id="", method="", action="")
			input.input-login(type="text" name="username" placeholder="#{__('login.email_address_placeholder')}")
			input.input-login(type="password" name="password" placeholder="#{__('login.password_placeholder')}")
			label.checkbox
				<input type="checkbox" value="remember-me" /> #{__('login.remember_me')}
			button.btn(type="submit") #{__('login.sign_in')}
		.clearfix
		a(class="linkslog" href="") #{__('login.forgot_password')}
		a(class="linkslog" href="") #{__('login.sign_up')}
