extends ../../layouts/final/layout

block header
	header
		nav.navbar.navbar-default
			.container-fluid
				.navbar-header
					if username
						ul.nav.nav-tabs.pull-right
							li.dropdown(role="presentation")
								a.dropdown-toggle(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
									.user-icon-container.img-circle
										svg.user-icon
											use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user-icon")
									| #{username}
									span.caret
								ul.dropdown-menu
									li
										a(href="/")
											span.glyphicon.glyphicon-home(aria-hidden="true")
											| #{__('nav.profile_home')}
									li
										a(href="/account/profile")
											span.glyphicon.glyphicon-user(aria-hidden="true")
											| #{__('nav.profile_account')}
									if admin
										li
												a(href="#")
													span.glyphicon.glyphicon-cog(aria-hidden="true")
													| #{__('nav.admin')}
									li.divider(role="separator")
									li
										a(href="/logout")
											span.glyphicon.glyphicon-log-out(aria-hidden="true")
											| #{__('nav.logout')}
					h3
						a(class="left" title="GEO BON" href="http://geobon.org" target="_blank") GEO BON

block footer
	p Soooooooopitas

block content
	.containerA
		.left
			p Alguito
		.right
			.container-fluid
				.row
					.col-md-2
						span Sopas1
					.col-md-10
						span Sopas2
						p kjhf ksjdflkajsf kljshdf lkjashf kjlashf kjlasfkjashf kjashf kjashf kljashfk jsadkfj askjfh askjdhf kajshf lkjasdflkjafskj askjhf kjashdf kjasdhf kjahskfj askdfj skdjf kjsdfh kajsdhf kjashdf kljasfhkjasdlkfjh asdkjf kajsdfh kjasdhf kjashdf kjsafkj asdkjfhas dkljfaskljdf kalsjdf kjsf
						//- span Sopas2
						//- p kjhf ksjdflkajsf kljshdf lkjashf kjlashf kjlasfkjashf kjashf kjashf kljashfk jsadkfj askjfh askjdhf kajshf lkjasdflkjafskj askjhf kjashdf kjasdhf kjahskfj askdfj skdjf kjsdfh kajsdhf kjashdf kljasfhkjasdlkfjh asdkjf kajsdfh kjasdhf kjashdf kjsafkj asdkjfhas dkljfaskljdf kalsjdf kjsf
						//- span Sopas2
						//- p kjhf ksjdflkajsf kljshdf lkjashf kjlashf kjlasfkjashf kjashf kjashf kljashfk jsadkfj askjfh askjdhf kajshf lkjasdflkjafskj askjhf kjashdf kjasdhf kjahskfj askdfj skdjf kjsdfh kajsdhf kjashdf kljasfhkjasdlkfjh asdkjf kajsdfh kjasdhf kjashdf kjsafkj asdkjfhas dkljfaskljdf kalsjdf kjsf
						//- span Sopas2
						//- p kjhf ksjdflkajsf kljshdf lkjashf kjlashf kjlasfkjashf kjashf kjashf kljashfk jsadkfj askjfh askjdhf kajshf lkjasdflkjafskj askjhf kjashdf kjasdhf kjahskfj askdfj skdjf kjsdfh kajsdhf kjashdf kljasfhkjasdlkfjh asdkjf kajsdfh kjasdhf kjashdf kjsafkj asdkjfhas dkljfaskljdf kalsjdf kjsf
						//- span Sopas2
						//- p kjhf ksjdflkajsf kljshdf lkjashf kjlashf kjlasfkjashf kjashf kjashf kljashfk jsadkfj askjfh askjdhf kajshf lkjasdflkjafskj askjhf kjashdf kjasdhf kjahskfj askdfj skdjf kjsdfh kajsdhf kjashdf kljasfhkjasdlkfjh asdkjf kajsdfh kjasdhf kjashdf kjsafkj asdkjfhas dkljfaskljdf kalsjdf kjsf
						//- span Sopas2
						//- p kjhf ksjdflkajsf kljshdf lkjashf kjlashf kjlasfkjashf kjashf kjashf kljashfk jsadkfj askjfh askjdhf kajshf lkjasdflkjafskj askjhf kjashdf kjasdhf kjahskfj askdfj skdjf kjsdfh kajsdhf kjashdf kljasfhkjasdlkfjh asdkjf kajsdfh kjasdhf kjashdf kjsafkj asdkjfhas dkljfaskljdf kalsjdf kjsf
						//- span Sopas2
						//- p kjhf ksjdflkajsf kljshdf lkjashf kjlashf kjlasfkjashf kjashf kjashf kljashfk jsadkfj askjfh askjdhf kajshf lkjasdflkjafskj askjhf kjashdf kjasdhf kjahskfj askdfj skdjf kjsdfh kajsdhf kjashdf kljasfhkjasdlkfjh asdkjf kajsdfh kjasdhf kjashdf kjsafkj asdkjfhas dkljfaskljdf kalsjdf kjsf
						//- span Sopas2
						//- p kjhf ksjdflkajsf kljshdf lkjashf kjlashf kjlasfkjashf kjashf kjashf kljashfk jsadkfj askjfh askjdhf kajshf lkjasdflkjafskj askjhf kjashdf kjasdhf kjahskfj askdfj skdjf kjsdfh kajsdhf kjashdf kljasfhkjasdlkfjh asdkjf kajsdfh kjasdhf kjashdf kjsafkj asdkjfhas dkljfaskljdf kalsjdf kjsf
						//- span Sopas2
						//- p kjhf ksjdflkajsf kljshdf lkjashf kjlashf kjlasfkjashf kjashf kjashf kljashfk jsadkfj askjfh askjdhf kajshf lkjasdflkjafskj askjhf kjashdf kjasdhf kjahskfj askdfj skdjf kjsdfh kajsdhf kjashdf kljasfhkjasdlkfjh asdkjf kajsdfh kjasdhf kjashdf kjsafkj asdkjfhas dkljfaskljdf kalsjdf kjsf
						//- span Sopas2
						//- p kjhf ksjdflkajsf kljshdf lkjashf kjlashf kjlasfkjashf kjashf kjashf kljashfk jsadkfj askjfh askjdhf kajshf lkjasdflkjafskj askjhf kjashdf kjasdhf kjahskfj askdfj skdjf kjsdfh kajsdhf kjashdf kljasfhkjasdlkfjh asdkjf kajsdfh kjasdhf kjashdf kjsafkj asdkjfhas dkljfaskljdf kalsjdf kjsf
						//- span Sopas2
						//- p kjhf ksjdflkajsf kljshdf lkjashf kjlashf kjlasfkjashf kjashf kjashf kljashfk jsadkfj askjfh askjdhf kajshf lkjasdflkjafskj askjhf kjashdf kjasdhf kjahskfj askdfj skdjf kjsdfh kajsdhf kjashdf kljasfhkjasdlkfjh asdkjf kajsdfh kjasdhf kjashdf kjsafkj asdkjfhas dkljfaskljdf kalsjdf kjsf
						//- span Sopas2
						//- p kjhf ksjdflkajsf kljshdf lkjashf kjlashf kjlasfkjashf kjashf kjashf kljashfk jsadkfj askjfh askjdhf kajshf lkjasdflkjafskj askjhf kjashdf kjasdhf kjahskfj askdfj skdjf kjsdfh kajsdhf kjashdf kljasfhkjasdlkfjh asdkjf kajsdfh kjasdhf kjashdf kjsafkj asdkjfhas dkljfaskljdf kalsjdf kjsf
						//- span Sopas2
						//- p kjhf ksjdflkajsf kljshdf lkjashf kjlashf kjlasfkjashf kjashf kjashf kljashfk jsadkfj askjfh askjdhf kajshf lkjasdflkjafskj askjhf kjashdf kjasdhf kjahskfj askdfj skdjf kjsdfh kajsdhf kjashdf kljasfhkjasdlkfjh asdkjf kajsdfh kjasdhf kjashdf kjsafkj asdkjfhas dkljfaskljdf kalsjdf kjsf
						//- span Sopas2
						//- p kjhf ksjdflkajsf kljshdf lkjashf kjlashf kjlasfkjashf kjashf kjashf kljashfk jsadkfj askjfh askjdhf kajshf lkjasdflkjafskj askjhf kjashdf kjasdhf kjahskfj askdfj skdjf kjsdfh kajsdhf kjashdf kljasfhkjasdlkfjh asdkjf kajsdfh kjasdhf kjashdf kjsafkj asdkjfhas dkljfaskljdf kalsjdf kjsf
						//- span Sopas2
						//- p kjhf ksjdflkajsf kljshdf lkjashf kjlashf kjlasfkjashf kjashf kjashf kljashfk jsadkfj askjfh askjdhf kajshf lkjasdflkjafskj askjhf kjashdf kjasdhf kjahskfj askdfj skdjf kjsdfh kajsdhf kjashdf kljasfhkjasdlkfjh asdkjf kajsdfh kjasdhf kjashdf kjsafkj asdkjfhas dkljfaskljdf kalsjdf kjsf
						//- span Sopas2
						//- p kjhf ksjdflkajsf kljshdf lkjashf kjlashf kjlasfkjashf kjashf kjashf kljashfk jsadkfj askjfh askjdhf kajshf lkjasdflkjafskj askjhf kjashdf kjasdhf kjahskfj askdfj skdjf kjsdfh kajsdhf kjashdf kljasfhkjasdlkfjh asdkjf kajsdfh kjasdhf kjashdf kjsafkj asdkjfhas dkljfaskljdf kalsjdf kjsf

	//-main
		#side-collapse-menu
			p Muchas prebas
		.container-fluid
			.row
				.col-md-2
					span Sopas1
				.col-md-10
					span Sopas2
					p kjhf ksjdflkajsf kljshdf lkjashf kjlashf kjlasfkjashf kjashf kjashf kljashfk jsadkfj askjfh askjdhf kajshf lkjasdflkjafskj askjhf kjashdf kjasdhf kjahskfj askdfj skdjf kjsdfh kajsdhf kjashdf kljasfhkjasdlkfjh asdkjf kajsdfh kjasdhf kjashdf kjsafkj asdkjfhas dkljfaskljdf kalsjdf kjsf

